In [16]:
import pandas as pd

train = pd.read_csv("original_data/trac2_eng_train.csv")

#
#
train = train.rename(columns={'Sub-task A': 'Class'})
train = train[["Text", "Class"]]
train['Class'] = train['Class'].map({"NAG":"NOT", "CAG": "OFF", "OAG":"OFF"})

train = train[train['Text'].notna()]
train['count'] = train['Text'].str.split().str.len()
train = train[train["count"] != 0]
train = train[["Text", "Class"]]
train[:10]

                                                Text Class
0                                          Next part   NOT
1                 Iii8mllllllm\nMdxfvb8o90lplppi0005   NOT
2  ðŸ¤£ðŸ¤£ðŸ˜‚ðŸ˜‚ðŸ¤£ðŸ¤£ðŸ¤£ðŸ˜‚osm vedio ....keep it up...make more v...   NOT
3  What the fuck was this? I respect shwetabh and...   NOT
4  Concerned authorities should bring arundathi R...   NOT
5  It seems like these people want to be famous n...   NOT
6                      Best topic for Law Students !   NOT
7  Even when kabir singh was unaware that Preeti ...   OFF
8                                     She is wrong .   NOT
9                                         6001733614   NOT

In [17]:
test = pd.read_csv("original_data/trac2_eng_test.csv")
labels = pd.read_csv("original_data/trac2_eng_gold_a.csv")
#
test['Class'] = labels['Sub-task A'].to_numpy()
test = test[["Text", "Class"]]
test['Class'] = test['Class'].map({"NAG":"NOT", "CAG": "OFF", "OAG":"OFF"})

test = test[test['Text'].notna()]
test['count'] = test['Text'].str.split().str.len()
test = test[test["count"] != 0]
test = test[["Text", "Class"]]
test[:10]

                                                Text Class
0        https://www.youtube.com/watch?v=4iejjszkflo   NOT
1  shame on society & culture trying to justify t...   NOT
2  just wanna say, there is no gay gene. you can ...   NOT
3  well, if a one twin struggles with self confid...   NOT
4  i am an identical twin and we are both homosex...   NOT
5  god wouldn't have said homosexuality is an abo...   NOT
6  for lack of a better statement then i must say...   NOT
7  just imagine if this world has gays that love ...   NOT
8                     demons and devils aren't real.   NOT
9  no gay gene discovered recently. this man was ...   NOT

In [18]:
train.to_csv('trac_train.csv',index=False, sep="\t")
test.to_csv('trac_test.csv',index=False, sep="\t")

In [19]:
train['Class'].value_counts()

NOT    3375
OFF     888
Name: Class, dtype: int64

In [20]:
test['Class'].value_counts()

NOT    690
OFF    510
Name: Class, dtype: int64