In [36]:
import pandas as pd

train = pd.read_csv("original_data/hatexplain_train.csv")

train = train[["post_tokens", "post_label"]]

def concatanate(words):
    words = words[1:-1]
    words = words.split(",")
    sentence = words[0][1:-1]
    for word in words[1:]:
        word = word[2:-1]
        sentence = sentence + " " + word

    return sentence

train['Text']=train['post_tokens'].apply(concatanate)

train = train.rename(columns={'post_label': 'Class'})
train['Class'] = train['Class'].map({"hatespeech":"OFF", "normal": "NOT", "offensive":"OFF"})
train = train[["Text", "Class"]]

train = train[train['Text'].notna()]
train['count'] = train['Text'].str.split().str.len()
train = train[train["count"] != 0]
train = train[["Text", "Class"]]
train[:10]

                                                Text Class
0  <number> of pakistani are married to a 1 st co...   OFF
1  todd phillips i have run out of context and co...   NOT
2  4 chan humour a mexican and a nigger arr in a ...   OFF
3  i am much higher time preference on this issue...   OFF
4  <user> reminds me vaguely of the netflix movie...   NOT
5  the most radical plans for reconstruction whic...   OFF
6    <user> when you been eating too many nazi cakes   NOT
7  if in <number> the man i believe to be a crimi...   NOT
8  settlement and its naturalization then condi t...   NOT
9  are you seriously backing that lil spic fag fu...   OFF

In [37]:
test = pd.read_csv("original_data/hatexplain_test.csv")

test = test[["post_tokens", "post_label"]]

def concatanate(words):
    words = words[1:-1]
    words = words.split(",")
    sentence = words[0][1:-1]
    for word in words[1:]:
        word = word[2:-1]
        sentence = sentence + " " + word

    return sentence

test['Text']=test['post_tokens'].apply(concatanate)

test = test.rename(columns={'post_label': 'Class'})
test['Class'] = test['Class'].map({"hatespeech":"OFF", "normal": "NOT", "offensive":"OFF"})
test = test[["Text", "Class"]]

test = test[test['Text'].notna()]
test['count'] = test['Text'].str.split().str.len()
test = test[test["count"] != 0]
test = test[["Text", "Class"]]
test[:10]

                                                Text Class
0  a group of zebras claim they witnessed a white...   NOT
1  yeah becasue you are one of those trailer tras...   OFF
2  they never fighting outside my apartment wow t...   OFF
3                   the way i fucking hate my school   OFF
4  okay back to the road see you tagaytay city wu...   NOT
5  you conservatis bragg about libtards and they ...   NOT
6  fearless trump records 2 3 rd stock market hig...   NOT
7  anyone remotely interested in philosophical th...   OFF
8  what if the jews who convert to christianity k...   OFF
9                  poland says no to muzzie invasion   OFF

In [38]:
train.to_csv('hatexplain_train.csv',index=False, sep="\t")
test.to_csv('hatexplain_test.csv',index=False, sep="\t")

In [39]:
train['Class'].value_counts()

OFF    6872
NOT    4663
Name: Class, dtype: int64

In [40]:
test['Class'].value_counts()

OFF    2246
NOT    1598
Name: Class, dtype: int64